.header {
    background-color: #00BCD4;
    color: white;
}

.content__header {
	font-size: 1.1em;
	color: #444;
}
.content__title {
	line-height: 33px;
}

.md-tile-content {
	color: #444;
}

md-dialog {
	min-width: 50%;
}